/.phpunit.cache
/engine/node_modules

# Environment
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode

# Storage
/engine/storage/*.key
/engine/storage/logs/*.log
/engine/storage/app/public/*
!/engine/storage/app/public/.gitkeep

# Uploads
/upload/*
!/upload/.gitkeep

# Bootstrap cache
/engine/bootstrap/cache/*.php
!/engine/bootstrap/cache/.gitkeep

# Public uploads (legacy path)
/engine/public

# Misc
*.pdf
*.zip
*.tar.gz
*.map

# OS files
Thumbs.db
.DS_Store
